<% provide(:title, @entry.title) %>
<div id="micropost">
  <%= gravatar_for @entry.user%>
  <span class="user"><%= link_to @entry.user.try(:name) %></span>
  <span ><h3> Title:  <%=  @entry.title %></h3> </span>
  <span class="content"><%= @entry.body %>
         <%= image_tag @entry.picture.url if @entry.picture? %>
  </span>
  <div class="timestamp">
    Posted <%= time_ago_in_words(@entry.created_at) %> ago.
  </div>
</div>	
<%= render 'comments/comment_form' %>
<% @entry.comments.each do |comment| %>
<div class="well">
<p> <%=raw comment.content %> </p>
<div class = "pull-rigth"> Create on <%= comment.created_at %> |
Create by <%= link_to comment.user.try(:name), comment.user %>
</div>
</div>
<% end -%>	
